:root{
    --logo-color:#95E1D3;
    --hover-color:#F38181;
    --title-color:#333;
    --text-color:#B6B6B6;
    --background-color:#FFF;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
body{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.header{
    padding-top: 17px;
}
.header-logo{
    font-size: 30px;
    font-weight: 700;
    color: var(--logo-color);
}
.navigation-link{
    color: var(--logo-color);
}
.navigation-link:hover,
.navigation-link:focus{
    color: var(--hover-color);
}
.name{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 20px;
}
.title{
    font-size: 30px;
    font-weight: 700;
    color: var(--title-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-variant: all-small-caps;
}
.service-img{
    width: 37;
    height: 37;
}
.service-title{
    font-size: 14px;
    font-weight: 400;
    color: var(--title-color);
    font-variant: small-caps;
    margin-bottom: 20px;
}
.service-text{
    font-weight:15px;
    line-height: 147%;
    color: var(--text-color);
}
.team-text{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: var(--text-color);
    text-align: center;
}
.team-item{
    width: 380px;
}
.taem-name{
    font-size: 14px;
    font-weight: 400;
    color: var(--title-color);
    text-align: center;
    font-variant: all-small-caps;
    margin-bottom: 11px;
}
.team-position{
    font-family: 'Roboto', sans-serif;
    font-size: italic;
    font-size: 15px;
    font-weight: 300;
    color: var(--text-color);
    text-align: center;
}
.footer{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid var(--text-color);
}
.footer-text{
    font-size: 14px;
   color: var(--title-color);
}
.footer-link{
    color: var(--hover-color);
}
